<mat-card>

	<mat-card-header>
        <mat-card-title>Change Password for User {{user}}</mat-card-title>
        </mat-card-header>
	
	<div class="container">
        <form [formGroup]="change_password">
		<div class="row">
		  <div class="col-25">
			<label for="old_password">Old Password</label>
		  </div>
		  <div class="col-75">
            <mat-form-field>
                <input matInput placeholder="Old Password" [type]="hideOldPassword ? 'password' : 'text'" formControlName="old_password" required>
                <mat-icon matSuffix (click)="hideOldPassword = !hideOldPassword">{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint *ngIf="!old_passwordInput.value">Enter old password</mat-hint>
                </mat-form-field>
            
        </div>
     
	
		</div>
		
		<div class="row">
		  <div class="col-25">
			<label for="new_password">New Password</label>
		  </div>
		  <div class="col-75">
            <mat-form-field>
                <input matInput placeholder="New Password" [type]="hideNewPassword ? 'password' : 'text'" formControlName="new_password" required>
                <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint *ngIf="!new_passwordInput.value">Enter new password</mat-hint>
                </mat-form-field>
		</div>
	</div>
		<div class="row">
			<div class="col-25">
			  <label for="confirm_new_password">Confirm Password</label>
			</div>
			<div class="col-75">
				<mat-form-field>
                    <input matInput placeholder="Confirm new Password" [type]="hideNewConfirmPassword ? 'password' : 'text'" formControlName="confirm_new_password" required>
                    <mat-icon matSuffix (click)="hideNewConfirmPassword = !hideNewConfirmPassword">{{hideNewConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-hint *ngIf="!confirm_new_passwordInput.value">Confirm your password</mat-hint>
                    </mat-form-field>
		  </div>
	
		</div>
		

		<div class="row">
			<div class="col-25">

			</div>
			<div class="col-75">
                <button (click)="changePassword()" mat-raised-button color="primary">Change password</button>
			</div>
	</div>
	  </form>
	  
	</div>
	</mat-card>


<!-- 



________________________________________________________________________________

<mat-card >
<mat-card-header>
<mat-card-title>Change Password for User {{user}}</mat-card-title>
</mat-card-header>

<mat-card-content>
<form [formGroup]="change_password">
<mat-form-field>
<input matInput placeholder="Old Password" [type]="hideOldPassword ? 'password' : 'text'" formControlName="old_password" required>
<mat-icon matSuffix (click)="hideOldPassword = !hideOldPassword">{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
<mat-hint *ngIf="!old_passwordInput.value">Enter old password</mat-hint>
</mat-form-field>

<mat-form-field>
<input matInput placeholder="New Password" [type]="hideNewPassword ? 'password' : 'text'" formControlName="new_password" required>
<mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
<mat-hint *ngIf="!new_passwordInput.value">Enter new password</mat-hint>
</mat-form-field>

<mat-form-field>
<input matInput placeholder="Confirm new Password" [type]="hideNewConfirmPassword ? 'password' : 'text'" formControlName="confirm_new_password" required>
<mat-icon matSuffix (click)="hideNewConfirmPassword = !hideNewConfirmPassword">{{hideNewConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
<mat-hint *ngIf="!confirm_new_passwordInput.value">Confirm your password</mat-hint>
</mat-form-field>

<mat-card-footer>
<button (click)="changePassword()" class="btn btn-success">Change password</button>
</mat-card-footer>

</form>



</mat-card-content>

</mat-card>
    
  -->